/*************
        Vars
*************/
/**************************
        Basic
**************************/
body {
  color: #37474f;
  background-color: #eceff1;
}
/**************************
        Header
**************************/
.navbar {
  border-radius: 0;
  background-color: #37474f;
}
.navbar .navbar-nav > li > a {
  color: #eceff1;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:active {
  color: #00e676;
  text-decoration: none;
}
.navbar .navbar-brand > a {
  color: #eceff1;
}
.navbar .navbar-brand > a:hover,
.navbar .navbar-brand > a:active {
  color: #00e676;
  text-decoration: none;
}
.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.margin-left-10 {
  margin-left: 1em;
}
/**************************
        Page Specific
**************************/
