/*************
        Vars
*************/

@Main-white: #FFF;
@Secondary-white: #F5F5F5;

@Main-green: #00e676;
@Dark-green: #00c853;

@Primary-Light: #eceff1;
@Secondary-Light: #00e676;

@Primary-Mid: #cfd8dc;
@Secondary-Mid: #69f0ae;

@Primary-Dark: #37474f;
@Secondary-Dark: #455a64;
@Alt-Dark: #607d8b;

/**************************
        Basic
**************************/
html, body{
    color: @Primary-Dark;
    background-color: @Main-white;
    height:100%;
}

pre {
    background-color: @Secondary-white;
}

.main-view{
    min-height: 100%;
}


/**************************
        Header
**************************/

.navbar {
    margin-bottom: 0px;
    border-bottom: 0;
    border-top: 10px solid @Primary-Dark;
    border-radius: 0;
    background-color: @Secondary-Dark;
    .BoxShadowHelper(1);
    
    .navbar-nav > li > a{
        color: @Primary-Light;
        &:hover, &:active, &:focus {
            color: @Secondary-Light;
            text-decoration: none;
        }
    }
    
    .navbar-brand > a{
        color: @Primary-Light;
        &:hover, &:active {
            color: @Secondary-Light;
            text-decoration: none;
        }
    }
}


.circle {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.page-top{
    background-color: @Primary-Light;
    .BoxShadowHelper(1);
    margin-bottom: 20px;
}

/**************************
        Footer
**************************/

.page-footer{
    background-color: @Primary-Light;
    .BoxShadowHelperBottom(2);
    margin-top: 20px;
    padding-top: 10px;
    height: 70px; /* .push must be the same height as .footer */
    z-index: 2000;
}

.footer-link{
    color: @Primary-Dark;
    background-color: transparent;
    &:hover, &:active {
        background-color: transparent !important;
        color: @Dark-green;
        text-decoration: none;
    }
}

/**************************
        Common objects
**************************/

.code-block{
    border-radius: 0;
    margin: 0;
    height: 100%;
    
    xmp {
        padding-left: 10px;
        padding-right: 10px;
    }
}


hr.hr-mute{
    border: 1px solid @Primary-Mid;
    height: 0px;
    min-height: 0px;
}

.tabset {
    background-color: @Alt-Dark;
    border: 1px solid @Alt-Dark;
    border-radius: 0;
    .BoxShadowHelper(1);
    
    ul{
        border: 0px;
        color: @Primary-Light !important;
        background-color: @Alt-Dark !important;
        li.active{
            a{
                background-color: @Alt-Dark !important;
                color: @Secondary-Light !important;
                border: 0 !important;
                border-bottom: 2px solid @Secondary-Light !important;
                &:active{
                    color: @Secondary-Light !important;
                }
            }
        }
    }
}

.tab-pane{
    padding: 5px;
    background-color: @Alt-Dark;
    border-radius: 0;
    height: 350px;
    margin: 0;
}

.tab-inner-content{
    background-color: @Secondary-white;
    height: 100%;
    padding: 10px;
}

.tab{
    border-radius: 0;
    border: 0;
    > a {
        margin-left: 10px;
        color: @Primary-Light !important;
        border-radius: 0 !important;
        border: 0 !important;
        &:hover, &:active{
            color: @Secondary-Light !important;
            background-color: @Alt-Dark !important;
        }
    }   
}


/**************************
        Helpers
**************************/

.margin-top-20{
    margin-top:20px;
}

.margin-bottm-20{
    margin-bottom:20px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.fixed-min-height{
    min-height: 250px;
}

/**************************
        Page Specific
**************************/
